<div class="content">
     <div class="add-product-center">
          <div class="content-add-product">
               <form class="content-add-product" ref='uploadForm' id='uploadForm'  action="/admin/category/add" method="POST" enctype="multipart/form-data">
                    <div class="content-add-product-title">
                         Thêm loại sản phẩm
                    </div>
                    <div class="content-add-product-item">
                         <div class=" content-add-product-name">
                              Tên sản phẩm
                         </div>
                         <div class="content-add-product-input">
                              <input placeholder="Tên sản phẩm" name="name" class="add-input-add" type="text"/>
                         </div>
                    </div>
                    <div class="content-add-product-item">
                         <div class=" content-add-product-name">
                              Mô tả
                         </div>
                         <div class="content-add-product-input">
                              <input placeholder="Mô tả" name="description"  type="text"/>
                         </div>
                    </div>
                    <div class="add-product-button">
                         <button   value='Upload!' class="add-btn-add">Thêm loại sản phẩm</button>
                    </div>
               </form>
          </div>
     </div>
</div>