<div class="content">
     <div class="content-center">
          <div class="content-page-title">
               Tài khoản
          </div>
          <div style="display: flex;">
               <div class="content-search">
                    <form class="content-search" action="/admin/staff/search">
                         <div class="input-search-center">
                              <input name="search" class="input-search" type="text"/>
                         </div>
                    <button class="btn-search">Tìm kiếm</button>
                    </form>
               </div>
          </div>
          <div class="content-add">
               <a href="/admin/staff/add"><button class="btn-add">Thêm</button></a>
          </div>
          <div class="content-list">
               {{#each Staff}}
               <div class="content-item">
                    <a style="text-decoration: none; cursor: pointer;" href="/admin/staff/{{this._id}}/edit">
                         <div class="content-item-name">
                              <label style="margin-left: 20px; cursor: pointer; color: black">{{this.userName}}</label>
                         </div>
                    </a>
                    <div class="content-item-delete">
                         <form action="/admin/staff/{{this._id}}?_method=DELETE" method="POST">
                              <button style="border: none; text-decoration: none;" type="submit"><i class="delete-icon fas fa-times"></i></button>
                         </form>
                    </div>
               </div>
               {{/each}}
          </div>
     </div>
</div>