
<div class="check-out">
    <form class="check-out" action="/order" method="POST">
          <div class="check-out-center">
          <div class="check-out-title">
               <label>Thủ Tục Thanh Toán</label>
          </div>
          <div class="check-out-item">
               <label>
                    Họ Tên
               </label>
               <input name="fullName" type="text"/>
          </div>
          <div class="check-out-item">
               <label>
                    Số Điện Thoại
               </label>
               <input name="phoneNum" type="text"/>
          </div>
          <div class="check-out-item">
               <label>
                    Địa Chỉ
               </label>
               <input name="address" type="text"/>
          </div>
          <div >
               <button class="button-check-out">Đặt Hàng</button>
          </div>
     </div>
    </form>
</div>